= form_with(model: task) do |f|
  - if task.errors.any?
    .alert.alert-danger{role: "alert"}
      %h2
        = pluralize(task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - task.errors.each do |error|
          %li= error.full_message
  %div
    .form-group.pb-2
      = f.label :title
      = f.text_field :title, class: "form-control", placeholder: :title

    .form-group.pb-2
      = f.label :description
      = f.text_area :description, class: "form-control", placeholder: :description

    .form-group.pb-2
      = f.label :status
      = f.select :status, options_for_select(@statuses, task.status), {}, class: "form-control"

    .form-group.pb-2
      = f.label :priority  
      = f.select :priority, options_for_select(@priorities, task.priority), {}, class: "form-control"

    - if params[:action] == "edit"
      .d-flex.justify-content-between
        = link_to "Back", task_path(@task), class: "btn btn-sm btn-outline-primary" 
        = f.submit "Update", class: "btn btn-sm btn-outline-success", data: { turbo_frame: "_top" }
    - else
      = f.submit "Create", class: "btn btn-outline-success", data: { turbo_frame: "_top" }