.card
  .card-body
    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group.py-2
        = f.label :email
        = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email"
      .form-group.py-2
        = f.label :password
        = f.password_field :password, class: "form-control", autocomplete: "current-password"
      .d-flex.justify-content-between.py-2
        = f.submit "Log in", class: "btn btn-primary"
        = render "devise/shared/links"
