!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %title KanbanApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = render partial: "partials/navbar"

    .container.pt-4
      = render partial: "partials/flash"
      = yield

    = render partial: "partials/footer"
